@charset "UTF-8";

body{
    background-color: black;
    width: 96vh;

}

img{
    /*width: 100vh;*/
    position: absolute;
    background-position: center center;
    max-width: 400px;
    min-width: 400px;
    
    height: 50%;
    width: 50%;

    transform: translate(-50%,-50%);
}