@charset "UTF-8";

@font-face{
    font-family: 'Android';
    src: url('fontes/idroid.otf')format('opentype');
}

@font-face


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corinthia:wght@400;700&family=Redacted+Script:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EBE5C5;
}

header{
    background-image: linear-gradient(to top,#1A5A36 ,#2FA766);
    color: white;
    padding: 40px;
    text-align: center;
}

header > h1{
    text-align: center;
    font-size: 50px;
    min-height: 90px;
    font-family:'Redacted Script', cursive;
    font-weight: lighter;
    text-shadow: 2px 2px 3px black;

}

header > p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 3px black;
}

nav{
    background-color: #063D1E;
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > a:hover{
    background-color: #2FA766;
    color: black;
    border-radius: 5px;
}

main{
    background-color: white;
    margin: auto;
    margin-left: 155px;
    margin-right: 155px;
    margin-bottom: 30px;
    text-align: justify;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 10px black ;
    
}


 article > h1{
   color: #063D1E;
   padding: 5px;
   font-family: 'Android';
   margin-bottom: 10px;
   margin-top: 0px;
}

article > h2{
    text-indent: 15px;
    color: #1A5C37;
    padding: 2px;
    margin-bottom: 15px;
    margin-top: 30px;
    font-family: 'Android';
    background-color: #83E1AD;
    font-size: larger;
    
}

article > p {
    text-indent: 35px; 
    line-height: 30px;
    min-width: 300px;
    max-width: 1200px;
    font-family: Arial, Verdana, Helvetica;

}

article > p > a {
    text-decoration: none;
    color: #063D1E;
    background-color: #83E1AD;
}

aside{
    background-color:#83E1AD;
    border-radius: 5px;
    padding: 20px;
}

ul{
    padding: 20px;
}

img{
    margin: auto;
    display: block;
}

aside > h2 {
    background-color: #1A5A36;
    color: white;
    border-radius: 5px;
    text-indent: 6px;
}

footer{
    background-color: #063D1E;
    color: white;
    text-align: center;

}