@charset "UTF-8";

h1{
    text-align: center;

}

body{
    background-color: black;
}

main{ /* reponsividade para o texto*/
    background-color: bisque;
    padding: 20px;
    border-radius: 3px;

    margin: auto;
    max-width: 800px;
    min-width: 320px;
    
    /*------------------*/

}

img{
    width: 100%;
}